* {
    margin: 0;
    padding: 0;
}

:root {
    --principal-color: #F5FBEF;
    --secondary-color: #114B5F;
    --deail-color: #BF1A2F;
}

body {
    

}

.bg-linear {
    background: linear-gradient(45deg, #114b5f 0%, #2186a9 100%);
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: fixed;
}

.slick-track {
    max-width: 300px;
}

/* utils */

.simetrico {
    width: 90%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

h2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 28px;
}

p {
    font-family: "Work Sans", sans-serif;
}

/* utils ------------------- */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-nav {
    margin: 20px 0px 20px 0px;
}

.header-nav .header-nav-obj i {
    font-size: 25px;
}

.header-hero .header-hero-text h1,
p,
i {
    color: var(--principal-color);
}

.header-hero .header-hero-img {
    margin-top: 40px;
}

.header-hero .header-hero-img img {
    width: 100%;
}

.proyectos-section {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.proyectos-section-text, .container-stats {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--principal-color);
}

.proyectos-text h2{
    color: var(--principal-color);
}

.proyectos-text, .stat-text {
    width: 100%;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.carousel .element{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    background-color: #114b5f;
}

.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.card-grid {
    border: #2186a9 2.5px solid;
    border-radius: 5px;
    padding: 10px;
}

.stats-grid {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "años-exp titulos titulos"
      "años-exp años-platzi proyectos"
    ;
}
  
.años-platzi { 
    grid-area: años-platzi; 

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proyectos { 
    grid-area: proyectos; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulos { 
    grid-area: titulos;
    display: flex;
    justify-content:space-between;
    padding: 5px 5px;
    flex-direction: row;
    align-items: center;
}

.años-exp { 
    grid-area: años-exp; 

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
}
  