* {
    margin: 0;
    padding: 0;
}

:root {
    --principal-color: #F5FBEF;
    --secondary-color: #114B5F;
    --deail-color: #BF1A2F;
}

body {
    

}

.bg-linear {
    background: linear-gradient(45deg, #114b5f 0%, #2186a9 100%);
    height: 100vh;
    width: 100%;
    z-index: -2;
    position: fixed;
}

.slick-track {
    max-width: 300px;
}

/* utils */

.simetrico {
    width: 90%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

h2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 28px;
}

p {
    font-family: "Work Sans", sans-serif;
}

/* utils ------------------- */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-nav {
    margin: 20px 0px 20px 0px;
}

.desplegable-menu {
    width: 60vw;
    height: 100vh;
    
    background-color: var(--principal-color);
    position: fixed;
    transition: opacity .2s;
}

.desplegable-menu .icon-bars i {
    color: var(--secondary-color);
    font-size: 25px;
}

.desplegable-header-text{
    margin-bottom: 20px;
    margin-top: 20px;

    color: var(--secondary-color);

    width: 90%;

    display: flex;
    justify-content: space-between;
}
.desplegable-menu-text {
    margin-left: 10px;
}

.desplegable-body-text ul li{
    border-bottom: 2px var(--deail-color) solid;
    margin-bottom: 20px;
    margin-right: 10px;
    
}

.desplegable-body-text ul li a {
    color: var(--secondary-color);
    
    font-family: "Signika Negative", sans-serif;
    text-decoration: none;
}

.bg-black {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #114c5fa2;
    z-index: 2;
    
}

.desactivado {
    opacity: 0;
    z-index: -1;
}

.activado {
    z-index: 1;
    position: fixed;
}

.header-nav .header-nav-obj i {
    font-size: 25px;
}

.header-hero .header-hero-text h1,
p,
i {
    color: var(--principal-color);
}

.header-hero .header-hero-img {
    margin-top: 40px;
}

.header-hero .header-hero-img img {
    width: 100%;
}

.proyectos-section {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.proyectos-section-text, .container-stats {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    color: var(--principal-color);
}

.proyectos-text h2{
    color: var(--principal-color);
}

.proyectos-text, .stat-text {
    width: 100%;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.carousel__lista .element img{
    width: auto;
    height: 150px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    background-color: #114b5f;
}

.carousel__lista .element {
    margin-right: 10px;
}




.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.card-grid {
    border: #2186a9 2.5px solid;
    border-radius: 5px;
    padding: 10px;
}

.stats-grid {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "años-exp titulos titulos"
      "años-exp años-platzi proyectos"
    ;
}
  
.años-platzi { 
    grid-area: años-platzi; 

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.proyectos { 
    grid-area: proyectos; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulos { 
    grid-area: titulos;
    display: flex;
    justify-content:space-between;
    padding: 5px 5px;
    flex-direction: row;
    align-items: center;
}

.años-exp { 
    grid-area: años-exp; 

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
    width: 100%;

    margin-top: 20px;

    background-color: var(--secondary-color);
}

footer .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer_container a {
    color: var(--principal-color);
    font-family: "Signika Negative", sans-serif;
}